{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">You have been logged out</h2>
                    <p class="card-text">Would you like to log in again?</p>
                    <a href="{% url 'share_the_plate:login' %}" class="btn btn-primary btn-dark">Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
