{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">Your account has been deactivated</h2>
                    <p class="card-text">Thanks for using our service. If you change your mind, contact our support team to reactivate your account.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
