{% extends 'profile_base.html' %}
{% load cloudinary %}

{% block profile_content %}
    <div class="d-flex align-items-center">
        <div class="mr-3">
            {% cloudinary user.profile.profile_picture width="100" height="100" crop="fill" class="rounded-circle" %}
        </div>
        <div>
            <h1>{{ user.username }}</h1>
            <p>{{ user.profile.bio }}</p>

            <!-- Deactivate account button -->
            {% if user == request.user %}
            <form action="{% url 'share_the_plate:deactivate_confirm' user.username %}" method="get">
                {% csrf_token %}
                <input class="btn btn-primary btn-danger" type="submit" value="Deactivate my account">
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
